html {
  height: 100%;
  font-family: 'Spectral', serif;
}

body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -104px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content-background {
  background-color: $color-primary;
}

.center-text {
  text-align: center;
}
