html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -104px;
}

.container {
  max-width: 600px;
}

.content-background {
  background-color: $color-primary;
}

.center-text {
  text-align: center;
}
